<div class="social">
  <h4>
    {% if site.author.github %}
    <a href="http://github.com/{{ site.author.github }}"
      ><i class="fa fa-github"></i
    ></a>
    {% endif %} {% if site.author.email %}
    <a href="mailto:{{ site.author.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %} {% if site.author.twitter %}
    <a href="http://twitter.com/{{ site.author.twitter }}"
      ><i class="fa fa-twitter"></i
    ></a>
    {% endif %} {% if site.author.linkedin %}
    <a href="http://linkedin.com/in/{{ site.author.linkedin }}"
      ><i class="fa fa-linkedin"></i
    ></a>
    {% endif %} {% if site.author.stackoverflow %}
    <a href="http://stackoverflow.com/{{ site.author.stackoverflow }}"
      ><i class="fa fa-stack-overflow"></i
    ></a>
    {% endif %}
  </h4>
</div>
